<div id="entry-preview" class="readonly">
</div>

<script>

function wordWrapToStringList (text, maxLength) {
    var result = [], line = [];
    var length = 0;
    text.split(" ").forEach(function(word) {
        if ((length + word.length) >= maxLength) {
            result.push(line.join(" "));
            line = []; length = 0;
        }
        length += word.length + 1;
        line.push(word);
    });
    if (line.length > 0) {
        result.push(line.join(" "));
    }
    return result;
}

function formatPreview(text, numDigits, delimiter) {
  var adjusted_text = text.replaceAll('\r\n', '\n');
  adjusted_text = adjusted_text.replaceAll('\\br', '\n\n');
  adjusted_text = adjusted_text.split(/\n{2,}/g);
  var wrapped_text = [];
  adjusted_text.forEach((p) => {
      wrapped_text.push(wordWrapToStringList(p.replaceAll('~', ''), numDigits))
  });
  adjusted_text = '';
  var ctr = 0;
  wrapped_text.forEach((p) => {
    if (ctr > 0) {
        adjusted_text = adjusted_text + '<br><br>';
    }
    adjusted_text = adjusted_text + '' + p.join(delimiter);
    ctr++;
  })
  return adjusted_text
}

function update_preview(desc) {
     var preview_content = desc;
     // Format for each character add new line
     preview_content = formatPreview(preview_content, 77, '<br>')
     document.getElementById("entry-preview").innerHTML = preview_content;
}


(function() {
    document.getElementById("id_description").addEventListener("input", function(event) {
      update_preview(event.target.value);
    });
    update_preview(document.getElementById("id_description").value);
})();
</script>
